# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entorno virtual
myvenv/
venv/
env/

# Ignorar archivos de configuración sensibles
.env
.env.local
# NO ignorar .env.production (necesario para Vercel)
# .env.production

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar migraciones de Django (opcional, pero útil en desarrollo)
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/*.sqlite3


# Ignorar base de datos SQLite (si la usaste en algún momento)
db.sqlite3

# Ignorar logs y caché
*.log
**/__pycache__/

# Ignorar archivos de configuración de editores de código
.vscode/
.idea/

