.footer {
  text-align: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.411); /* Fondo translúcido */
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px); /* Efecto Glass */
  border-top: 1px solid rgba(255, 255, 255, 0.767); /* Bordes suaves */
  color: black; /* Asegurar que el texto sea visible */
  font-weight: bold;
  font-size: 16px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .footer {
    padding: 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 8px;
    font-size: 10px;
  }
}
